
<div class="container">

  <div class="score-card">
    <div class="score-board">
      <h1>Score</h1>
      <h3>{{food?.currentScore}}</h3>

    <form class="form-class">
      <span>Player Name:</span>
      <input required [(ngModel)]="playerName" name="playerName" id="playerName">
    </form>

    <div class="restart-button"  *ngIf="gameOver" (click)="restart()">
      RESTART
    </div>
   

    <div class="restart-button" *ngIf="gameOver" (click)="saveScore()">
      SAVE SCORE
    </div>

    <div class="restart-button" (click)="showScores()">
        SHOW ALL SCORES
    </div>

    <div *ngIf="showScore" class="score-list">
      <h2>Score table</h2>
      <h3 *ngFor="let player of scores">
        {{ player[0].substring(1).charAt(0).toUpperCase() + player[0].slice(2) }}  |  {{player[1]}}
      </h3>

    <div class="restart-button" *ngIf="showScore" (click)="hideScores()">
        Hide scores
    </div>

  </div>

  </div>
  <div class="game-board">


  </div>

  <div class="game-over" *ngIf="gameOver">
    <h1>Game Over</h1>
  </div>


</div>